.sk-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.5);
  z-index: 10000; }

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: absolute;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  margin: 0;
  left: 50%;
  top: 50%; }

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg); }

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg); }

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg); }

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

@font-face {
  font-family: 'emoji';
  src: local("Android Emoji"), local("NotoColorEmoji"), local("NotoColorEmoji.ttf"), local("/system/fonts/NotoColorEmoji.ttf"), local("Noto Color Emoji"), local("Android Emoji"); }

#root,
.App {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: lighter; }

.App {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  background-color: #f3f3f3;
  display: table; }

.appContent {
  height: 100%;
  margin: 0;
  padding: 0;
  display: table-row; }

.mainContent {
  display: block;
  padding: 0;
  color: #665f5f;
  height: 100%;
  width: 100%; }

.labelText {
  font-family: "Roboto", sans-serif; }
  .labelText .label {
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 0; }
  .labelText .text {
    font-weight: lighter;
    font-size: 2.2em; }
  .labelText .dropdown .text {
    font-size: 1em;
    font-weight: normal; }

.blockGrid {
  max-width: 80em; }
  .blockGrid .column {
    padding-bottom: 1.5em; }
  .blockGrid .blockHeader {
    font-size: 1.8em;
    font-weight: lighter; }
  .blockGrid .headerRow {
    padding-bottom: 0 !important; }
    .blockGrid .headerRow .column {
      padding-bottom: 0; }
  .blockGrid .subGrid .row {
    padding-bottom: 0 !important; }
  .blockGrid .subGrid .column {
    padding-bottom: 0; }

.ui.visible[class*="very thin"].left.sidebar ~ .fixed,
.ui.visible[class*="very thin"].left.sidebar ~ .pusher,
.ui.visible[class*="thin"].left.sidebar ~ .fixed,
.ui.visible[class*="thin"].left.sidebar ~ .pusher {
  padding-right: 60px; }

/*.ui.visible.thin.left.sidebar~.fixed, .ui.visible.thin.left.sidebar~.pusher {
    -webkit-transform: translate3d(60px,0,0);
    transform: translate3d(60px,0,0)    
}*/
.pushable > .pusher {
  background-color: #f3f3f3; }

.calendar {
  display: inline-block;
  /* iOS Safari */
  -webkit-touch-callout: none;
  /* Safari */
  -webkit-user-select: none;
  /* Konqueror HTML */
  -khtml-user-select: none;
  /* Firefox */
  -moz-user-select: none;
  /* Internet Explorer/Edge */
  -ms-user-select: none;
  /* Non-prefixed version, currently */
  user-select: none; }
  .calendar .navContainer {
    padding: 0.4em 0.2em;
    background-color: #1b1c1d; }
    .calendar .navContainer button {
      background-color: transparent;
      border: 0.15em solid #fff;
      border-radius: 100%;
      color: #fff; }
      .calendar .navContainer button.ui.icon.button {
        padding: 0.2em; }
      .calendar .navContainer button i {
        text-align: center; }
    .calendar .navContainer:nth-child(first) {
      float: left; }
    .calendar .navContainer:nth-child(last) {
      float: right; }
  .calendar .dayContainer {
    background-color: #fff;
    border: 0.1rem solid rgba(34, 36, 38, 0.15);
    display: table;
    border-collapse: separate;
    border-spacing: 0.2rem; }
    .calendar .dayContainer .week {
      display: table-row; }
    .calendar .dayContainer .day {
      background-color: #fff;
      border-color: #fff;
      border-width: 0.4rem;
      padding: 0.2rem;
      width: 2rem;
      height: 2rem;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      font-size: 1rem;
      line-height: 1rem;
      cursor: pointer; }
      .calendar .dayContainer .day:hover {
        background-color: #e2e3e4; }

.emoji {
  font-family: 'emoji';
  font-size: 10em;
  padding-top: 0.5em;
  display: inline-block; }

.box {
  display: block;
  padding: 10em 3em; }
  .box.has-advanced-upload {
    background-color: white;
    outline: 2px dashed rgba(34, 36, 38, 0.15);
    outline-offset: -10px; }
    .box.has-advanced-upload .box__dragndrop {
      display: inline; }
    .box.has-advanced-upload .box__icon {
      width: 100%;
      height: 80px;
      fill: #92b0b3;
      display: block;
      margin-bottom: 40px;
      font-size: 8em; }
  .box.is-dragover {
    background-color: grey; }
  .box .box__input {
    text-align: center; }
  .box .box__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
    .box .box__file + label {
      max-width: 80%;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      display: inline-block;
      overflow: hidden; }
  .box .box__button {
    font-weight: 700;
    color: #e5edf1;
    background-color: #39bfd3;
    padding: 8px 16px;
    margin: 40px auto 0;
    display: block; }
  .box .box__dragndrop,
  .box .box__error {
    display: none; }

.previewImage {
  display: inline-block;
  width: 10em;
  height: 10em;
  vertical-align: middle;
  margin: 0.2em;
  border: 1px solid rgba(34, 36, 38, 0.15);
  position: relative;
  background-color: #fff;
  border-radius: 0.4rem; }
  .previewImage img {
    display: inline-block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto; }
  .previewImage button {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 !important; }
