@font-face {
  font-family: 'emoji';
  src: local("Android Emoji"), local("NotoColorEmoji"), local("NotoColorEmoji.ttf"), local("/system/fonts/NotoColorEmoji.ttf"), local("Noto Color Emoji"), local("Android Emoji"); }

#root,
.App {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: lighter; }

.App {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  background-color: #f3f3f3;
  display: table; }

.appContent {
  height: 100%;
  margin: 0;
  padding: 0;
  display: table-row; }

.mainContent {
  display: block;
  padding: 0;
  color: #665f5f;
  height: 100%; }

.labelText {
  font-family: "Roboto", sans-serif; }
  .labelText .label {
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 0; }
  .labelText .text {
    font-weight: lighter;
    font-size: 2.2em; }
  .labelText .dropdown .text {
    font-size: 1em;
    font-weight: normal; }

.blockGrid {
  max-width: 80em; }
  .blockGrid .column {
    padding-bottom: 1.5em; }
  .blockGrid .blockHeader {
    font-size: 1.8em;
    font-weight: lighter; }
  .blockGrid .headerRow {
    padding-bottom: 0 !important; }
    .blockGrid .headerRow .column {
      padding-bottom: 0; }
  .blockGrid .subGrid .row {
    padding-bottom: 0 !important; }
  .blockGrid .subGrid .column {
    padding-bottom: 0; }

.ui.visible[class*="very thin"].left.sidebar ~ .fixed,
.ui.visible[class*="very thin"].left.sidebar ~ .pusher,
.ui.visible[class*="thin"].left.sidebar ~ .fixed,
.ui.visible[class*="thin"].left.sidebar ~ .pusher {
  padding-right: 60px; }

/*.ui.visible.thin.left.sidebar~.fixed, .ui.visible.thin.left.sidebar~.pusher {
    -webkit-transform: translate3d(60px,0,0);
    transform: translate3d(60px,0,0)    
}*/
.pushable > .pusher {
  background-color: #f3f3f3; }

.calendar {
  display: inline-block;
  /* iOS Safari */
  -webkit-touch-callout: none;
  /* Safari */
  -webkit-user-select: none;
  /* Konqueror HTML */
  -khtml-user-select: none;
  /* Firefox */
  -moz-user-select: none;
  /* Internet Explorer/Edge */
  -ms-user-select: none;
  /* Non-prefixed version, currently */
  user-select: none; }
  .calendar .navContainer {
    padding: 0.4em 0.2em;
    background-color: #1b1c1d; }
    .calendar .navContainer button {
      background-color: transparent;
      border: 0.15em solid #fff;
      border-radius: 100%;
      color: #fff; }
      .calendar .navContainer button.ui.icon.button {
        padding: 0.2em; }
      .calendar .navContainer button i {
        text-align: center; }
    .calendar .navContainer:nth-child(first) {
      float: left; }
    .calendar .navContainer:nth-child(last) {
      float: right; }
  .calendar .dayContainer {
    background-color: #fff;
    border: 0.1rem solid rgba(34, 36, 38, 0.15);
    display: table;
    border-collapse: separate;
    border-spacing: 0.2rem; }
    .calendar .dayContainer .week {
      display: table-row; }
    .calendar .dayContainer .day {
      background-color: #fff;
      border-color: #fff;
      border-width: 0.4rem;
      padding: 0.2rem;
      width: 2rem;
      height: 2rem;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      font-size: 1rem;
      line-height: 1rem;
      cursor: pointer; }
      .calendar .dayContainer .day:hover {
        background-color: #e2e3e4; }

.emoji {
  font-family: 'emoji';
  font-size: 10em;
  padding-top: 0.5em;
  display: inline-block; }
