@import "loadingspinner.scss";

$primary-font: 'Roboto',
sans-serif;
@font-face {
    font-family: 'emoji';
    src: local('Android Emoji'), local('NotoColorEmoji'), local('NotoColorEmoji.ttf'), local('/system/fonts/NotoColorEmoji.ttf'), local('Noto Color Emoji'), local('Android Emoji');
}

#root,
.App {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $primary-font;
    font-weight: lighter;
}

.App {
    font-family: $primary-font;
    font-size: 12px;
    background-color: #f3f3f3;
    display: table;
}

.appContent {
    height: 100%;
    margin: 0;
    padding: 0;
    display: table-row;
}

.mainContent {
    display: block;
    padding: 0;
    color: #665f5f;
    height: 100%;
    width: 100%;
}

.labelText {
    font-family: $primary-font;
    .label {
        display: block;
        font-weight: bold;
        font-size: 1.2em;
        padding-bottom: 0;
    }
    .text {
        font-weight: lighter;
        font-size: 2.2em;
    }
    .dropdown {
        .text {
            font-size: 1em;
            font-weight: normal;
        }
    }
}

.blockGrid {
    max-width: 80em;
    .column {
        padding-bottom: 1.5em;
    }
    .blockHeader {
        font-size: 1.8em;
        font-weight: lighter;
    }
    .headerRow {
        padding-bottom: 0!important;
        .column {
            padding-bottom: 0;
        }
    }
    .subGrid {
        .row {
            padding-bottom: 0!important;
        }
        .column {
            padding-bottom: 0;
        }
    }
}

.ui.visible[class*="very thin"].left.sidebar~.fixed,
.ui.visible[class*="very thin"].left.sidebar~.pusher,
.ui.visible[class*="thin"].left.sidebar~.fixed,
.ui.visible[class*="thin"].left.sidebar~.pusher {
    padding-right: 60px;
}


/*.ui.visible.thin.left.sidebar~.fixed, .ui.visible.thin.left.sidebar~.pusher {
    -webkit-transform: translate3d(60px,0,0);
    transform: translate3d(60px,0,0)    
}*/

.pushable>.pusher {
    background-color: #f3f3f3;
}

.calendar {
    display: inline-block;
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Non-prefixed version, currently */
    user-select: none;
    .navContainer {
        padding: 0.4em 0.2em;
        background-color: #1b1c1d;
        button {
            background-color: transparent;
            border: 0.15em solid #fff;
            border-radius: 100%;
            color: #fff;
            &.ui.icon.button {
                padding: 0.2em;
            }
            i {
                text-align: center;
            }
        }
        &:nth-child(first) {
            float: left;
        }
        &:nth-child(last) {
            float: right;
        }
    }
    .dayContainer {
        background-color: #fff;
        border: 0.1rem solid rgba(34, 36, 38, .15);
        display: table;
        border-collapse: separate;
        border-spacing: 0.2rem;
        .week {
            display: table-row
        }
        .day {
            background-color: #fff;
            border-color: #fff;
            border-width: 0.4rem;
            padding: 0.2rem;
            width: 2rem;
            height: 2rem;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            font-size: 1rem;
            line-height: 1rem;
            cursor: pointer;
            &:hover {
                background-color: #e2e3e4;
            }
        }
    }
}

.emoji {
    font-family: 'emoji';
    font-size: 10em;
    padding-top: 0.5em;
    display: inline-block;
}

.box {
    display: block;
    padding: 10em 3em;
    &.has-advanced-upload {
        background-color: white;
        outline: 2px dashed rgba(34, 36, 38, .15);
        outline-offset: -10px;
        .box__dragndrop {
            display: inline;
        }
        .box__icon {
            width: 100%;
            height: 80px;
            fill: #92b0b3;
            display: block;
            margin-bottom: 40px;
            font-size: 8em;
        }
    }

    &.is-dragover {
        background-color: grey;
    }

    .box__input {
        text-align: center;
    }

    .box__file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        &+label {
            max-width: 80%;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            display: inline-block;
            overflow: hidden;
        }
    }
    .box__button {
        font-weight: 700;
        color: #e5edf1;
        background-color: #39bfd3;
        padding: 8px 16px;
        margin: 40px auto 0;
        display: block;
    }
    .box__dragndrop,
    .box__error {
        display: none;
    }
}

.previewImage {
    display:inline-block;
    width: 10em; 
    height: 10em;
    vertical-align: middle;
    margin: 0.2em;
    border: 1px solid rgba(34, 36, 38, .15);
    position: relative;
    background-color: #fff;
    border-radius: 0.4rem;

    img {
        display: inline-block;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    button {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        margin: 0!important;
    }
}